@{
    ViewBag.Title = "Home Page";
}

<!-- Search bar on the top-->



<!-- This would be the container for the posts-->
    <div class="post-container">
        <ul class="list-group-posts">
            <li>Proba</li>
            <li>Proba</li>
            <li>Proba</li>
            <li>Proba</li>
        </ul>
    </div>